.sidebar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 305px;
    font-size: 20px;

}
.sidebar__username {
    font-weight: 700;
    font-size: 20px;
    font-family: 'CABINET GROTESK',sans-serif;
}
